<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PacketProcessing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PacketTunnel copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PacketTunnel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD37A9071EEE3F5D0004FF80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD4798F91EAF256A005DE266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD4799121EAF256B005DE266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD47991D1EAF256B005DE266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD4799361EAF34E3005DE266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
